<!DOCTYPE html>

<html>
    <head>
        <title>Photo View</title>

        <!-- Inlude Style Sheets -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}" />
    </head>
    <body>
        <!-- May need to change this after work for validation added --!>
        <form action="/photos" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login" />
        </form>
    </body>
</html>

