/* Generic Styles */
li {
    list-style: none;
}

/* End Generic Styles */

/* Page Header */
ul.page_header {
    padding: 0;
    background: #ee4b3e;
    margin: 0;
}

ul.page_header li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul.page_header li a {
    display: block;
    padding: 8px 25px;
    color: #1fda9a;
    text-decoration: none;
}

ul.page_header li a:hover {
    color: #f2f2f3;
    background: #e9bc1b;
}

ul.page_header li ul.dropdown {
    min-width: 175px; /* Set width of the dropdown */
    background: #ee4b3e;
    display: none;
    position: absolute;
    z-index: 999; /* Stacking reference */
    left: 0;
    padding: 8px 25px 8px 0px;
}

ul.page_header li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}

ul.page_header li ul.dropdown li {
    display: block;
}

ul.page_header li ul.dropdown li a {
    padding-left: 5px;
}

/* End Page Header */

body {
    background: #f5eacd;
    margin: 0;
}

/* Photo Styling */

.photo div {
    width: 300px;
}

.container-portrait {
    height: 300px;

}

.photo div img {
    width: 100%;
    height: auto;
}

img.portrait {
    position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

div.photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    border-style: groove;
    border-radius: 15px;

    padding: 5px;
    background: #1fda9a;

    /* Test */
}

div.photoGroup {
    width: 700px;
}

div#description {
    border-style: solid none none none;
    border-width: 1px;
    width: 300px;
}


/* End Photo Styling */
